@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
}

@font-face {
  font-family: "adineue PRO";
  src: url("/fonts/adineue-PRO.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "adineue PRO Bold";
  src: url("/fonts/adineue-PRO-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bg-light: #ffffff;
  --color-bg-dark: #1e1e1e;
  --color-bg-dark-secondary: #28282a;
  --container-8xl: 1440px;

  --color-font-primary-light: #111827;
  --color-font-secondary-light: #374151;

  --color-font-primary-dark: #f3f4f6;
  --color-font-secondary-dark: #babbbd;

  --color-link: #254ab6;
  --color-color-green: #22c55e;
  --color-color-green-transparent: #dcfce7;
  --color-color-red: #f77171;
  --color-red-transparent: #fee2e2;
  --color-color-yellow: #f9cc15;
  --color-yellow-transparent: #fef9c3;

  --color-blue-primary: #3161dd;
  --color-blue-primary-transparent: #3161dd20;
  --color-blue-secondary: #528dff;

  /* footer */
  --color-footer: #1f2437;

  --font-adineue: "adineue PRO", sans-serif;
  --font-adineue-bold: "adineue PRO Bold", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
